img{
    padding:1rem ;
    width: 10rem;
}
.Main{
    display:grid;
    grid-template-columns: auto auto auto;
    border-radius: 2rem;
    width: 60%;
    height: 70%;
    position: absolute;
    right: 50%;
    transform: translate(50%, 30%); 
    font-size:2.5rem;
}

.Comp1,.Comp2,.Comp3{
    color: white;
padding: 7rem;
}
.Comp1{
    background-color: orange;
}
.Comp2{
    background-color:rgb(13, 109, 109);
}
.Comp3{
    background-color:rgb(20, 70, 85);
}
a{
    text-decoration: none;
}
.link{
    position: relative;
    
    left:3rem ;
    border-radius: 7rem;
    background-color: white;
    width: 20rem;
    font-size:3rem;
    padding:3rem ;
    text-align: center;

}
.Comp1 a {
    color: orange; 
}

.Comp2 a {
    color: rgb(13, 109, 109); 
}

.Comp3 a {
    color: rgb(20, 70, 85); 
}
.link:hover{
    background-color: transparent;
    border: solid white 0.3rem;
    color: white;
}
@media (max-width: 480px) {
    .Main {
        width: 80%; 
        height: 100%; 
        grid-template-columns: 1fr; 
        top:0%;
    }
    
    .Comp1, .Comp2, .Comp3 {
        padding: 2rem; 
        font-size: 1.8rem; 
    }

    .link {
        font-size: 2rem; 
        padding: 0.5rem;
        width: 10rem;
        border-radius: 2rem;
        top: 0%;
    }
}
